$font-stack:    'Square Peg', cursive;
$color: #06565b;
body{
  margin: 0;
  width: 100%;
    background-color: rgba(194,221,228,1);
}
header{
  padding: 0 30px 0 10px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #003a44;
  
}
.toplogo{
  padding: 7px 0 0px;
  height: 65px;

}
.topnav{
  display: flex;
}
.top_menu li{
  padding: 10px 0 0 0;
  display: inline-block;
}
.top_menu a{
  text-decoration: none;
  font-size: 20px;
  font-family: $font-stack;
  text-transform: uppercase;
  color:#66a4ac;
  letter-spacing: 2px;
  padding: 0px 18px 0 5px;
}
.top_menu a:hover{
  color:#ffffff;
}
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}




#menu__toggle {
  display: none;
}





.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    img{
        width: 330px;
        height: 200px;
        margin-right: 10px;
    }
    h1{
      color: $color;
      font-family: $font-stack;
    }
}
  .hudruk{
    flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      .el{
          display: flex;
          flex-direction: column;
      }
      p{
        color: $color;
        font-family: $font-stack;
        font-size: 12px;

      }
      h3{
        color: $color;
        font-family: $font-stack;
      }
  }
  .balmet{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
    .kol{
        display: flex;
        flex-direction: column;
    }
    p{
      color: $color;
      font-family: $font-stack;
      font-size: 12px;
    }
    h3{
      color: $color;
      font-family: $font-stack;
    }
}
.choir{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .mot{
        display: flex;
        flex-direction: column;
    }
    p{
      color: $color;
      font-family: $font-stack;
      font-size: 12px;
    }
    h3{
      color: $color;
      font-family: $font-stack;
    }
}
.director{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom:30px;
    .lom{
        display: flex;
        flex-direction: column;
    }
    p{
      color: $color;
      font-family: $font-stack;
      font-size: 12px;
    }
    h3{
      color: $color;
      font-family: $font-stack;
    }
}

footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #003a44;
    height: 270px;
    flex-shrink: 0;
    justify-content: center;
    gap:20px;
  }
  .left{
    display: flex;
  flex-direction: column;
  
  p{
   
    color:  rgba(194,221,228,1);
    font-family: $font-stack;
    font-size: 12px;
  }
  }
  .right{
    display: flex;
    flex-direction: column;
    p{
      color: rgba(194,221,228,1);
    font-family: $font-stack;
    font-size: 12px;
    }
    img{
      align-items: center;
    }
  }
  
  @media(max-width: 1000px){
    /* скрываем чекбокс */
    #menu__toggle {
      display: block;
      opacity: 0;
    }
    /* стилизуем кнопку */
    .menu__btn {
      display: flex; /* используем flex для центрирования содержимого */
      align-items: center;  /* центрируем содержимое кнопки */
      position: fixed;
      top: 20px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    
    /* контейнер меню */
    .menu__box {
      display: flex;
      flex-direction: column;
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background-color: #06565b;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    /* элементы меню */
    .menu__item {
      display: block;
      margin: 12px 0 12px 0;
      padding: 12px 24px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }
    
    .menu__item:hover {
      background-color: #CFD8DC;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      right: 0;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
    }
    .menu__item {
      transition-duration: .25s;
    }
    .toplogo{
      height: 50px;
      padding: 10px 0 0px;
    }
    .wrapper{
      gap: 10px;
    }
     .cont{
       img{
        width: 320px;
        height: 220px;
       }
     }
     .kol{
       flex-direction: column;
     }
     .el{
      flex-direction: column;
     }
     .lom{
      flex-direction: column;
     }
     .mot{
      flex-direction: column;
     }
}
@media(max-width: 550px){
  footer{
    text-align: center;
    //height: 380px;
    
}
.left{
  p{
  font-size: 9px;
}
}
.right{
  p{
    font-size: 9px;
  }
  img{
    width:10px ;
    height: 10px;
  }
}
}
@media(max-width: 390px){
  footer{
    height: 380px;
    
}
}