$font-stack:    'Square Peg', cursive;
$color: #06565b;
body{
    margin: 0;
    width: 100%;
      background-color: rgba(194,221,228,1);
  }
  header{
    padding: 0 30px 0 10px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #003a44;
    
  }
  .toplogo{
    padding: 7px 0 0px;
    height: 65px;
  
  }
  .topnav{
    display: flex;
  }
  .top_menu li{
    padding: 10px 0 0 0;
    display: inline-block;
  }
  .top_menu a{
    text-decoration: none;
    font-size: 20px;
    font-family: $font-stack;
    text-transform: uppercase;
    color:#66a4ac;
    letter-spacing: 2px;
    padding: 0px 18px 0 5px;
  }
  .top_menu a:hover{
    color:#ffffff;
  }
  #menu__toggle {
    display: none;
  }
  .wrapper{
      display: flex;
      flex-direction: column;
      gap:30px;
  }
  .ontop{
      display: flex;
      align-items: center;
      justify-content: center;
     img{
          width:80%;
          
         
     }
  }
 .cont{
     display: flex;
     flex-direction: column;
    
 }

.osnova{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.osnova_one{
    display: flex;
    width: 70%;
    flex-direction: column; 
    align-items: center;
    span{
        color:$color;
        font-family: $font-stack;
        font-style: italic;
    }
    p{
        color:$color;
        font-family: $font-stack;
        font-size: 15px;
    }
    h1{
        color:$color;
        font-family: $font-stack;
    }
    }

.osnova_two{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    p{
        color:$color;
        font-family: $font-stack;
        font-size: 15px;
    }
    h1{
        color:$color;
        font-family: $font-stack;
    }
}
.osnova_three{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    p{
        color:$color;
        font-family: $font-stack;
        font-size: 15px;

    }
    h1{
        color:$color;
        font-family: $font-stack;


    }
}
.button{
    align-items: center;
    display: inline-block;
    background: $color;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-family: $font-stack;
    font-size: 15px;
    line-height: 1;
    //font-weight: 200;
    width: 150px;
   
    //margin-left: 50px;
    text-align: center;
    border-radius: 5px;
    &:hover {
      background: rgba(0,0,0,0);
      color: #395870;
      box-shadow: inset 0 0 0 1px #3a7999;
    }
  }



  footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #003a44;
    height: 270px;
    flex-shrink: 0;
    justify-content: center;
    gap:20px;
  }
  .left{
    display: flex;
  flex-direction: column;
  
  p{
   
    color:  rgba(194,221,228,1);
    font-family: $font-stack;
    font-size: 12px;
  }
  }
  .right{
    display: flex;
    flex-direction: column;
    p{
      color: rgba(194,221,228,1);
    font-family: $font-stack;
    font-size: 12px;
    }
    img{
      align-items: center;
    }
  }
  
  
  
  
  
  
  
  
  @media(max-width: 1000px){
    /* скрываем чекбокс */
    #menu__toggle {
      display: block;
      opacity: 0;
    }
    /* стилизуем кнопку */
    .menu__btn {
      display: flex; /* используем flex для центрирования содержимого */
      align-items: center;  /* центрируем содержимое кнопки */
      position: fixed;
      top: 20px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    
    /* контейнер меню */
    .menu__box {
      display: flex;
      flex-direction: column;
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background-color: #06565b;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    }
    /* элементы меню */
    .menu__item {
      display: block;
      margin: 12px 0 12px 0;
      padding: 12px 24px;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }
    
    .menu__item:hover {
      background-color: #CFD8DC;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      right: 0;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
    }
    .menu__item {
      transition-duration: .25s;
    }
    .toplogo{
      height: 50px;
      padding: 10px 0 0px;
    }
   .osnova_one{
       h2{
           text-align: justify;
       }
       p{
           text-align: justify;
       }
   }
   .osnova_two{
    h2{
        text-align: justify;
    }
    p{
        text-align: justify;
    }
   }
   .osnova_three{
    h2{
        text-align: justify;
    }
    p{
        text-align: justify;
    }
   }
   }
   @media(max-width: 550px){
    footer{
      text-align: center;
      //height: 380px;
      
  }
  .left{
    p{
    font-size: 9px;
  }
  }
  .right{
    p{
      font-size: 9px;
    }
    img{
      width:10px ;
      height: 10px;
    }
  }
  }
  @media(max-width: 390px){
    footer{
      height: 380px;
      
  }
  }
